.new-question-form-container {
    /* 97.2307692rem */
    max-width: calc(((calc(150rem) / 12)) * 3);
    min-width: 200px;
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
}

.new-question-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.new-question-form label {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

.new-question-form button {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 0;
    background-color: hsl(206,100%,52%);
    color: white;
}

.new-question-form input {
    width: 98%;
}

.new-question-form textarea {
    width: 99%;
    resize: vertical;
}