.question-feed {
    margin-top: 50px;
    min-width: fit-content;
}

.question-feed ul {
    margin: 0;
    padding: 0;
}

#header-box {
    min-width: 400px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-box a {
    color: white;
}

#header-box button {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 0;
    background-color: hsl(206,100%,52%);
    color: white;
}

#header-box button:hover {
    background-color: hsl(206,100%,40%);
}

#header-box select {
    padding-top: 9px;
    padding-bottom: 9px;
}

#header-box a {
    color: white;
    text-decoration: none;
}

#header-box-controls {
    float: right;
}

#header-box-controls select {
    margin-right: 20px;
}

#no-results-h1 {
    width: 80%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    font-size: 20px;
    border-top: 1px solid gray;
}

#page-buttons-div {
    /* border: 1px solid red; */
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

#back-button-div {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    text-align: center;
}

#back-button {
    text-decoration: underline;
    color: hsl(206,100%,52%);;
}