.question-feed {
    /* width: 70%; */
    width: 1000px;
    min-width: fit-content;
    border-left: 1px solid gray;
}

.question-feed ul {
    margin: 0;
    padding: 0;
}

#header-box {
    min-width: 400px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* #header-box:first-child {
    padding-left: 16px;
} */

#header-box > h1 {
    padding-left: 16px;
}

#header-box a {
    cursor: pointer;
    color: white;
}

#header-box button:hover {
    background-color: hsl(206,100%,40%);
}

#header-box select {
    padding-top: 9px;
    padding-bottom: 9px;
}

#header-box a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#header-box-controls {
    float: right;
    min-width: fit-content;
}

#header-box-controls select {
    margin-right: 20px;
}

#no-results-h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    font-size: 20px;
    border-top: 1px solid gray;
}

#page-buttons-div {
    /* border: 1px solid red; */
    margin: 10px;
    display: flex;
    justify-content: center;
}

#prev-page {
    margin-right: 5px;
}

#next-page {
    margin-left: 5px;
}

#page-number-div {
    color: hsl(206,100%,52%);
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 100px;
    text-align: center;
    padding: 5px;
}

#back-button-div {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    text-align: center;
}

#back-button {
    cursor: pointer;
    text-decoration: underline;
    color: hsl(206,100%,52%);
}