#sidebar, #sidebar-links {
    display: flex;
    flex-direction: column;
}

#sidebar {
    align-content: stretch;
    align-items: flex-end;
    height: auto;
    width: 164px;
}

#sidebar-links {
    position: sticky;
    top: 50px;
    width: 100%;
    z-index: 0;
}

.sidebar-link {
    font-size: 18px;
    color: gray;
    padding: 16px 16px 16px 8px;
    text-align: end;
    text-decoration: none;
}

.sidebar-link-active {
    background-color: lightgray;
    color: black;
    font-weight: 500;
    padding-right: 13px;
    border-right: 3px solid hsl(27,90%,55%);;
}