.queston-list-item {
    width: 96%;
    padding: 20px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    list-style: none;
}

.queston-list-item:last-of-type {
    border-bottom: 1px solid gray;
}

.queston-list-item a {
    display: inline-block;
    height: 20px;
    text-overflow: clip;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    color: hsl(206,100%,40%);
}

.queston-list-item a:hover {
    cursor: pointer;
    color: hsl(209,100%,38%);
}

.question-stats {
    color: lightgray;
}

.question-stats span {
    margin-top: 5px;
    margin-right: 15px;
}

#user-link {
    float: right;
    text-decoration: underline;
}