#splash-black-box {
    background-color: hsl(210,8%,25%);
    height: fit-content;
    /* width: 90vw; */
    width: 1164px;
    min-width: fit-content;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}

#splash-link-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.splash-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 20vh;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

.splash-link-container p {
    margin: auto;
    font-size: 2vh;
}

#right-splash-link-container {
    background-color: hsl(206,90%,69.5%);
    margin-left: 10px;
}

#left-splash-link-container {
    background-color: hsl(27,90%,83%);
    margin-right: 10px;
}

.icon-div {
    width: 50px;
    height: 50px;
    background-size: cover;
}

#mag-glass-div {
    background-image: url(../../img/magnifying-glass.png);
}

#computer-icon-div {
    background-image: url(../../img/computer.png);
}

#splash-sign-up-button {
    background-color: orange;
}

#splash-sign-up-button:hover { 
    background-color: darkorange;
}

#title-container {
    text-align: center;
}

#splash-title {
    color: white;
    font-size: 5vh;
    width: 50%;
    margin: 20px auto;
}

#splash-title-em {
    display: inline;
    color: hsl(27,90%,55%);
    font-size: 7vh;
}

#splash-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#splash-stats div {
    width: 150px;
    height: 100px;
}

#splash-stats h5 {
    color: white;
    /* width: 6vw; */
    margin: 2px 0;
    font-size: 2vh;
}

#splash-stats p {
    color: gray;
    margin: 0;
    font-size: 12px;
}