.form-container {
    max-width: calc(((calc(97.2307692rem) / 12)) * 3);
    min-width: 200px;
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 10px 24px hsla(0,0%,0%,0.05), 0 20px 48px hsla(0, 0%, 0%, 0.05), 0 1px 4px hsla(0, 0%, 0%, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form ul {
    margin: 0;
}

.login-form label {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

.login-form input {
    width: 98%;
}

.login-form button {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 0;
    background-color: hsl(206,100%,52%);
    color: white;
}

.login-form button:hover {
    background-color: hsl(206,100%,40%);
}

#login-errors-list {
    text-align: center;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

#login-errors-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: lightcoral;
    color: darkred;
    border: 1px solid darkred;
}